body{
    background-color: gray;
    font-size: 16pt; 
  }
  h1,h2{
    color: blue;
}
strong{
    font-family: Arial ;
    color:rgba(255, 174, 0, 0.877)
}
h1{
    text-align: center;
}
#happy, #sad{
    height: 200px;
    width: 250px;
}
dt{
    font-family: Arial ;
    color:rgba(255, 174, 0, 0.877)
}
dd{
    font-size: large;
}
ol{
    font-style: inherit;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
 }
 p:first-letter{
font-size: 30px;
 }
 .about_movie{
     display: none;
 }
 #hidden_list:hover .about_movie {
    display: block;
 }